<!DOCTYPE html>
<html>
  <head>
    <title>Shop'N'Ship</title>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" src="https://maps-api-ssl.google.com/maps/api/js?libraries=places&key=AIzaSyCJfoWQssMIB50Pp737W-_k2NtvlzMVQFc"></script>
  </head>
  <body ng-app='ShopNShip' ng-controller="MainCtrl">
    <%= yield %>
  </body>
</html>
